.foot-main {
    background: #191919;
}

.region.region-footer {
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: auto;
    font-size: 16px;
    color: white;
    font-weight: 200;
}

.region.region-footer #block-aboutus,
.block-views-blocklatest-posts-block-1 {
    flex: 0 0 auto;
    width: 33.333%;
}

#block-aboutus h2,
.block-views-blocklatest-posts-block-1 h2,
.region.region-footer .menu--footer h5,
#block-categories h5 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

#block-aboutus,
.block-views-blocklatest-posts-block-1 a {
    font-size: 16px;
    color: white
}

#block-aboutus p {
    width: 80%;
}

.region.region-footer .menu--footer,
#block-categories {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.region.region-footer .menu--footer ul li::before,
#block-categories.menu--categories ul li:before {
    content: "";
    background-image: url("../../icons/chevron.svg");
    background-size: 16px 16px;
    font-family: bootstrap-icons !important;
    width: 16px;
    height: 16px;
    z-index: +1;
    position: absolute;
    margin-top: 0.5%;
    margin-left: -1%;
}

.region.region-footer .menu--footer ul li::before,
#block-categories.menu--categories ul li::before {
    content: "";
    background-image: url("../../icons/chevron.svg");
    background-size: 16px 16px;
    font-family: bootstrap-icons !important;
    width: 16px;
    height: 16px;
    z-index: +1;
    position: absolute;
    margin-top: 0.5%;
    margin-left: -1%;
}

.footer-latest {
    display: flex;
    align-content: center;
    margin-bottom: 2%;
    box-sizing: border-box;
}

.footer-latest-img {
    margin-right: 5%;
}

.footer-latest-img .img-fluid {
    max-width: none;
    height: none;
}

.footer-latest-content .cat_nd_date {
    font-size: 10px;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: var(--font-secondary);
    color: rgba(var(--color-white-rgb), 0.4);
    margin-bottom: 0px;
}

.footer-latest-content a {
    text-decoration: none;
}

.footer-latest-content .cat_nd_date a {
    text-decoration: none;
    font-size: 10px;
}

.menu--footer ul li a:hover,
.menu--categories ul li a:hover,
.footer-latest-content a:hover {
    font-weight: normal;
}

@media only screen and (max-width: 767px) {
    .region.region-footer {
        flex-direction: column;
        width: fit-content;
        margin-left: 5%;
        margin-bottom: 5%;
        max-width: 100%;
    }
    #block-aboutus p {
        width: 90%;
    }
    .region.region-footer #block-aboutus,
    .block-views-blocklatest-posts-block-1 {
        flex: none;
        width: 100%;
    }
    .region.region-footer .menu--footer,
    #block-categories {
        width: 100%;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .menu--footer ul li a:hover,
    .menu--categories ul li a:hover,
    .footer-latest-content a:hover {
        font-weight: normal;
    }
    .region.region-footer .menu--footer ul li::before,
    #block-categories.menu--categories ul li::before {
        margin-top: 3%;
        margin-left: -3%;
    }
}


/*Footer Two*/

.footer-two {
    background-color: #000;
    color: white;
}

.region-footer-two {
    display: flex;
    font-weight: 200;
    margin: auto;
    width: 70vw;
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
}

#block-copyrightsection div:nth-child(3).field--name-field-copyright-link {
    position: absolute;
    top: 50%;
    left: 35%;
    font-weight: 300;
}

#block-copyrightsection div:nth-child(2).field--name-field-copyright-link {
    position: absolute;
    top: 50%;
    left: 7%;
    font-weight: 300;
}

.field--name-field-copyright-link a {
    text-decoration: none;
    color: white;
}

.footer-two .block-addtoany-block {
    position: absolute;
    right: 0%;
    top: 5%;
}

@media only screen and (max-width: 767px) {
    .region-footer-two {
        flex-direction: column !important;
    }
    #block-copyrightsection div:nth-child(2).field--name-field-copyright-link {
        position: absolute;
        top: 36% !important;
        left: 32% !important;
        font-weight: 300;
    }
    #block-copyrightsection div:nth-child(3).field--name-field-copyright-link {
        position: absolute;
        top: 55% !important;
        left: 32% !important;
        font-weight: 300;
    }
    .block-addtoany-block {
        position: initial !important;
    }
    #block-copyrightsection .clearfix p:nth-child(1) {
        margin-bottom: 0 !important;
    }
    #block-copyrightsection .clearfix p:nth-child(2),
    .field--name-field-copyright-link a {
        font-size: 13px !important;
        padding-left: 10% !important;
    }
    .block-addtoany-block {
        margin-left: 0% !important;
    }
}

.region-footer-two .block-addtoany-block span.a2a_svg {
    text-align: center;
    display: inline-block;
    width: 40px !important;
    height: 40px !important;
    background-color: #171717 !important;
    border-radius: 50% !important;
    color: white !important;
    line-height: 40px;
}

.region-footer-two .a2a_svg svg {
    background-repeat: no-repeat;
    border: none;
    display: block;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    width: 80%;
    height: 80%;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .region.region-footer {
        display: block;
        width: 696px;
        max-width: 720px;
    }
    .region.region-footer #block-aboutus,
    .block-views-blocklatest-posts-block-1 {
        width: 100%;
    }
    .region.region-footer .menu--footer,
    #block-categories {
        width: 50%;
        float: left;
    }
    .region-footer-two {
        max-width: 720px;
        margin-top: 3%;
        margin-bottom: 3%;
        width: 696px;
    }
    .footer-two .block-addtoany-block {
        top: 20%;
    }
    #block-copyrightsection div:nth-child(2).field--name-field-copyright-link {
        position: absolute;
        top: 50%;
        left: 14%;
        font-weight: 300;
    }
    .region.region-footer .menu--footer ul li::before,
    #block-categories.menu--categories ul li::before {
        margin-top: 1.5%;
    }
}