.page-header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: #f2f2f2;
    align-items: center !important;
    display: flex !important;
    position: fixed;
    /* top: 0; */
    right: 0;
    left: 0;
    z-index: 1030;
    justify-content: center;
}

.page-header .navbar .region-nav-main {
    display: flex;
    width: 70vw;
    max-width: 70vw;
    margin: auto;
}

.region-header {
    display: none;
    visibility: hidden;
}

.site-title {
    font-size: 30px;
    font-weight: 700;
    color: #202529;
}

.page-header .block-superfishmain-menu {
    display: flex;
    justify-content: center;
    max-width: 75%;
    align-content: center;
    width: 75%;
}

.block-superfishmain-menu #superfish-main-menu.sf-main-menu a,
#superfish-main-menu.sf-main-menu a:focus,
#superfish-main-menu.sf-main-menu a:hover {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 500;
    color: rgba(var(--color-default-rgb), 1);
    white-space: nowrap;
    transition: 0.3s;
}

#superfish-main-menu.sf-main-menu li.menuparent ul {
    background-color: white !important;
}

#superfish-main-menu.sf-main-menu .sf-sub-indicator {
    right: 2rem;
}

.region-nav-main .block-addtoany-block a span {
    background-color: transparent !important;
    border-radius: 50%;
}

.region-nav-main .block-addtoany-block a span svg path {
    fill: #212529;
}


/*Tablet view*/

@media screen and (max-width: 991px) and (min-width: 768px) {
    .region-header {
        display: flex;
        visibility: visible;
        padding-left: 5%;
        width: 100%;
        position: relative;
    }
    .region-header .block-addtoany-block {
        right: 1%;
        position: absolute;
        align-self: center;
    }
    .region-header .block-addtoany-block a span {
        background-color: transparent !important;
        border-radius: 50% !important;
    }
    .region-header .block-addtoany-block a span svg path {
        fill: #212529 !important;
    }
    #block-sitebranding,
    .region-nav-main .block-addtoany-block {
        display: none;
        visibility: hidden;
    }
    .page-header {
        justify-content: space-between;
    }
    .page-header .navbar .region-nav-main {
        width: 40vw;
        margin: auto;
        align-items: center;
        margin-top: 2%;
    }
    .navbar-toggler.collapsed {
        border: none;
    }
}


/*Mobile */

@media only screen and (max-width: 767px) {
    .region-header {
        display: flex;
        visibility: visible;
        padding-left: 5%;
        width: 100%;
        position: relative;
    }
    .region-header .block-addtoany-block {
        right: 20%;
        position: absolute !important;
        align-self: center;
    }
    .region-header .block-addtoany-block a span {
        background-color: transparent !important;
        border-radius: 50% !important;
    }
    .region-header .block-addtoany-block a span svg path {
        fill: #212529 !important;
    }
    #block-sitebranding,
    .region-nav-main .block-addtoany-block {
        display: none;
        visibility: hidden;
    }
    .page-header {
        justify-content: space-between;
    }
    .navbar-expand-lg {
        position: absolute;
        right: 5%;
    }
    .page-header .navbar .region-nav-main {
        position: absolute;
        right: 0%;
        top: 80%;
    }
    .page-header {
        height: 95px;
    }
    .navbar-toggler.collapsed {
        border: none;
    }
}