.region-content-two {
    max-width: 70vw;
    display: flex;
    width: 70vw;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    position: relative;
    margin-bottom: 5rem;
}

.block-views-blockfrontpage-region-two-top-news-by-tag {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.block-views-blockfrontpage-region-two-grid-view .view-content {
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 5%;
}

.block-views-blockfrontpage-region-two-grid-view .views-row {
    margin-left: 10%;
    border-left: 1px dotted black;
    padding-left: 10%;
}

.block-views-blockfrontpage-region-two-grid-view {
    flex: 0 0 auto;
    width: 43%;
}

.block-views-blockviewbytag-trending-by-tag {
    flex: 0 0 auto;
    width: 23%;
}

.view-id-frontpage_region_two.view-display-id-top_news_by_tag .view-content .views-row:nth-child(2) .frontpage-img,
.view-id-frontpage_region_two.view-display-id-top_news_by_tag .view-content .views-row:nth-child(2) .frontpage-body p,
.view-id-frontpage_region_two.view-display-id-top_news_by_tag .view-content .views-row:nth-child(3) .frontpage-img,
.view-id-frontpage_region_two.view-display-id-top_news_by_tag .view-content .views-row:nth-child(3) .frontpage-body p {
    display: none;
    visibility: hidden;
}

.view-id-frontpage_region_two.view-display-id-top_news_by_tag .view-content .views-row:nth-child(2),
.view-id-frontpage_region_two.view-display-id-top_news_by_tag .view-content .views-row:nth-child(3) {
    border-bottom: 1px dotted;
    margin-bottom: 1rem;
}

#block-taxonomyterm {
    border-bottom: 2px solid;
    margin-bottom: 3rem;
}

.block-field-blockblock-contenttexonomy-heading-blockfield-heading {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: .5rem;
}

.block-field-blockblock-contenttexonomy-heading-blockfield-link {
    display: flex;
    text-align: end;
    justify-content: end;
}

.block-field-blockblock-contenttexonomy-heading-blockfield-link a {
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 5px;
    margin-top: 2%;
}

.block-field-blockblock-contenttexonomy-heading-blockfield-link div {
    margin-top: 2%;
}

#block-taxonomyterm2 {
    position: absolute;
    width: 100%;
    top: -10%;
    border-bottom: 2px solid;
}


/*Mobile screen*/

@media only screen and (max-width: 767px) {
    .block-field-blockblock-contenttexonomy-heading-blockfield-link div {
        margin-top: -13%;
    }
    #block-taxonomyterm2 {
        position: absolute;
        width: 100%;
        top: -3%;
        border-bottom: 2px solid;
    }
    .region-content-two {
        display: block;
        margin-top: 20%;
    }
    .block-views-blockfrontpage-region-two-top-news-by-tag,
    .block-views-blockfrontpage-region-two-grid-view {
        width: 100%;
    }
    .block-views-blockfrontpage-region-two-grid-view .views-row {
        border: none !important;
        margin-left: 0;
        border-bottom: 1px dotted black;
        padding-left: 0;
    }
    .block-views-blockviewbytag-trending-by-tag {
        flex: 0 0 auto;
        width: 100%;
    }
    .block-views-blockfrontpage-region-two-grid-view .view-content {
        display: grid;
        padding-right: 0%;
        grid-template-columns: auto;
    }
}


/*Tablet view*/

@media screen and (max-width: 991px) and (min-width: 768px) {
    .region-content-two {
        max-width: 720px;
        display: block;
        width: 696px;
        margin-top: 15%;
    }
    .layout--twocol-section>.layout__region {
        flex: 0 1 50%;
    }
    .block-views-blockfrontpage-region-two-grid-view,
    .block-views-blockfrontpage-region-two-top-news-by-tag,
    .block-views-blockviewbytag-trending-by-tag {
        flex: 0 0 auto;
        width: 696px;
        max-width: 720px;
    }
    .block-views-blockfrontpage-region-two-grid-view .view-content {
        grid-template-columns: auto;
        padding-right: 0%;
    }
    .block-views-blockfrontpage-region-two-grid-view .views-row {
        margin-left: 0;
        border-left: 1px dotted black;
        padding-left: 4%;
        margin-bottom: 5%;
    }
    #block-taxonomyterm2 {
        top: -2%
    }
}