@font-face {
    font-family: EB-Regular;
    src: url(../../fonts/eb-garamond/EBGaramondRegular.otf);
}

.hero-section {
    margin-top: 8rem;
}

#flexslider-1 {
    /* margin: 0 20vw; */
    width: 70vw;
    margin: 0 auto;
    height: 500px;
}


/*Mobile*/

@media only screen and (max-width: 767px) {
    #flexslider-1 {
        width: 95vw;
        height: 400px !important;
    }
    .flexslider .slides img {
        height: 400px !important;
    }
}

.flexslider .slides img {
    height: 500px;
    -moz-user-select: none;
}

.slider-content {
    display: block;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 10%;
    overflow: hidden;
}

.slider-content h2 a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-weight: 500;
    line-height: 1.2;
    font-family: serif;
}

.slider-content span {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: 400;
    line-height: 1.5;
    font-family: serif;
}

@media only screen and (max-width: 767px) {
    .slider-content {
        top: 70%;
        left: 10%;
        width: 70%;
    }
    .slider-content span {
        display: none;
        visibility: hidden;
    }
    .slider-content h2 a {
        font-size: 1.2rem;
        font-weight: bolder;
    }
}

.main-content-1 .region-content {
    display: flex;
    width: 70vw;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
}

.block-views-blockfrontpage-block-2 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.block-system-main-block .view-content {
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 5%;
}

.block-system-main-block .view-content .views-row {
    margin-left: 10%;
    border-left: 1px dotted black;
    padding-left: 10%;
}

@media only screen and (max-width: 767px) {
    .main-content-1 .region-content {
        display: block;
        padding: 0;
    }
    .block-views-blockfrontpage-block-2 {
        width: 100%;
    }
    .block-system-main-block .view-content {
        display: block;
    }
    .block-system-main-block .view-content .views-row {
        margin: 0;
        border: none;
        padding: 0;
    }
}

.frontpage-type-n-date li::before,
.viewbytag-b2-type-n-date {
    content: "•" !important;
    color: rgba(var(--color-black-rgb), 0.4) !important;
}

.frontpage-type-n-date,
.viewbytag-b2-type-n-date {
    font-size: 0.688rem;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
    color: rgba(var(--color-black-rgb), 0.4);
    margin-bottom: 1rem;
}

.frontpage-body h2 a {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 2rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.frontpage-body p {
    width: 85%;
}

.frontpage-img .img-fluid {
    width: 100%;
    margin-bottom: 5%;
}

.frontpage-body span {
    font-size: 15px;
    letter-spacing: 0.07rem;
    font-weight: 200;
}

.frontpage-maincontent h2 a {
    font-size: 20px;
}

.block-views-blockfrontpage-trending {
    border: 1px dotted;
    height: 100%;
}

.block-views-blockfrontpage-trending h2 {
    border-bottom: 1px dotted;
    padding: 2%;
    text-align: center;
}

.block-views-blockfrontpage-trending .view-content .views-row {
    border-bottom: 1px solid grey;
    padding: 10%
}

.block-views-blockfrontpage-trending .view-content .views-row .views-field-title span a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.block-views-blockviewbytag-block-2 div:nth-child(2) .views-row:nth-child(2) img {
    height: 300px !important;
}


/*Mobile*/

@media only screen and (max-width: 767px) {
    .block-views-blockfrontpage-trending .view-content .views-row {
        padding: 5%;
    }
    .block-views-blockviewbytag-block-2 div:nth-child(2) .views-row:nth-child(2) img {
        height: auto;
    }
}


/*Tablet view*/

@media screen and (max-width: 991px) and (min-width: 768px) {
    #flexslider-1 {
        max-width: 720px;
        margin: 0 auto;
        height: 500px;
        width: 696px;
    }
    #flexslider-1 .slides {
        max-width: 720px;
        position: relative;
        width: 696px;
    }
    .flex-control-nav {
        position: absolute;
        bottom: 0px;
        z-index: 10;
    }
    .slider-content {
        width: 75%;
        left: 20%;
        text-align: left;
        text-justify: distribute;
    }
    .main-content-1 .region-content {
        display: block;
        width: 696px;
        max-width: 720px;
    }
    .block-views-blockfrontpage-block-2 {
        width: 696px;
        max-width: 720px;
    }
    .block-system-main-block {
        margin-top: 3rem;
        width: 696px;
        max-width: 720px;
    }
    .block-system-main-block .view-content {
        grid-template-columns: auto;
        padding-right: 0%;
    }
    .block-system-main-block .view-content .views-row {
        margin-left: 0%;
        padding-left: 1%;
        margin-bottom: 3rem;
    }
    .block-views-blockfrontpage-trending {
        margin-left: 0;
        margin-right: 0;
        max-width: 720px;
    }
    .block-views-blockfrontpage-trending h2 {
        text-align: left;
    }
    .block-views-blockfrontpage-trending .view-content .views-row {
        border-bottom: 1px dotted black;
        padding: 2%;
    }
    .region-content-one {
        width: 696px;
        margin: auto;
        margin-top: 5%;
        display: block;
        overflow: hidden;
        max-width: 720px;
    }
}